<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sicau.musicrestapi.mapper.userTopTenSongsTimeAndTimesMapper">
<select id="selectUserEverySongsTimeAndTimes" resultType="edu.sicau.musicrestapi.pojo.userEverySongsTimeAndTimes">
    SELECT * FROM usereverysongstimeandtimes WHERE userid=#{userId} ORDER BY songsCount DESC LIMIT 10;
</select>
</mapper>